<div style="border: 10px solid black; padding: 20px; width: 90%; margin: 0 auto;">

<%="Hello, #{@voucher.customer_email}" %>

<p style="color: red;">
Vous avez reçu un coupon cadeau vous permettant de profiter de l'offre suivante : <%=@voucher.offer.description%>
</p>

<br/>
Au restaurant : <%=@voucher.offer.restaurant.name%>
<br/>


<br/>
Votre coupon est valable `jusqu'au` <%=@voucher.expiration_date%>
<br/>
<div style="width: 200px; margin: 0 auto; height:200px;">
<%= @voucher.qr_code.html_safe %>
</div>
<br/>

A bientôt, <%=@voucher.offer.restaurant.name%>
</div>