<div class="container d-flex align-items-center justify-content-center container-home">
  <div class="dispatch-home-menu">
    <%= link_to '#' do %>
      <div class="btn-menu btn-yellow">
        <%= image_tag 'qr-code.png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
          scanner
        </div>
      </div>
    <% end %>

    <%= link_to new_restaurant_voucher_path(@restaurant) do %>
      <div class="btn-menu btn-red">
        <%= image_tag 'gift-card.png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
          nouveau coupon
        </div>
      </div>
    <% end %>

    <%= link_to '#' do %>
      <div class="btn-menu btn-orange">
        <%= image_tag 'search.png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
          dashboard
        </div>
      </div>
    <% end %>

    <%= link_to restaurant_offers_path(@restaurant) do %>
      <div class="btn-menu btn-violet">
        <%= image_tag 'shop (1).png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
        mes offres
        </div>
      </div>
    <% end %>
  </div>
  <div class="help">
    <span>help</span>   <%= image_tag 'question.png',class:"btn-menu__icon", class: "ml-3" %>
  </div>
</div>





