<div class="container">
  <h1 class="text-rouge text-center mb-5">Modifier</h1>
    <%= simple_form_for [@restaurant, @offer], html: {class: "text-center"} do |i| %>
      <%= i.input :name, label:"Nom de la formule", input_html: {class: "input-rounded-grey border 0"} %>
      <%= i.input :price, label:"Prix", input_html: {class: "input-rounded-grey border 0 text-center"}%>
      <%= i.input :description, as: :text, label:"Description de l'offre", input_html: {class: "input-rounded-grey-description border 0"}%>
      <%= i.input :validity, collection: [1,3,6,12,24], label:"Période de validité (mois)", input_html: {class: "input-rounded-grey border 0"} %>
      <%= i.submit "MODIFIER", class:"btn-validation  border 0", id:"offer-submit" %>
    <% end %>
</div>
