<h1 class="index">OFFRES</h1>
<div class="container-fluid">
  <div class="row">
    <%= form_tag restaurant_offers_path(@restaurant), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Nom de l'offre"
    %>
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    <% end %>
    <% @offers.each do |offer| %>
      <div class="col-3 py-2">
    <%= link_to "#{offer.description}", restaurant_offer_path(@restaurant, offer)%>
    <% end %>
    </div>
  </div>


<%= link_to "Nouvelle offre", new_restaurant_offer_path(@restaurant), class: "btn btn-primary" %>
