<div class= "title-offer-creer">
  <h3 class="text-violet text-center mb-3 mt-2">MES OFFRES</h3>
  <%= link_to "+", new_restaurant_offer_path(@restaurant), class: "btn-creer-cercle" %>
</div>
    <%= form_tag restaurant_offers_path(@restaurant), method: :get, class: "btn-offer-orga" do %>
      <%if params[:archived ] == "true"%>
        <%= link_to "< offres activées", restaurant_offers_path(@restaurant, archived: false), class: "btn-text"%>
      <% else %>
        <%= link_to "< offres archivées", restaurant_offers_path(@restaurant, archived: true), class: "btn-text" %>
      <% end %>

    <% end %>
</div>
<div class="list-offer-index">
  <% @offers.each do |offer| %>
   <div class= "offer-card <%= offer.state? ? "" : "archived" %>">
      <%= link_to "#{offer.name}", restaurant_offer_path(@restaurant, offer)%>
    </div>
  <% end %>
</div>
