<div class="container">
  <h2 class="text-violet text-center mb-3 mt-2">MES OFFRES</h2>
    <%= form_tag restaurant_offers_path(@restaurant), method: :get, class: "btn-offer-orga" do %>
      <%if params[:archived ] == "true"%>
        <%= link_to "offres activées", restaurant_offers_path(@restaurant, archived: false), class: "btn-offre"%>
      <% else %>
        <%= link_to "offres archivées", restaurant_offers_path(@restaurant, archived: true), class: "btn-offre" %>
      <% end %>
      <%= link_to "créer une offre", new_restaurant_offer_path(@restaurant), class: "btn-offre" %>

    <% end %>
</div>
<div class="list-offer-index">
  <% @offers.each do |offer| %>
   <div class= "offer-card">
      <%= link_to "#{offer.name}", restaurant_offer_path(@restaurant, offer)%>
    </div>
  <% end %>
</div>
