<h1 class="index">OFFERS</h1>
<br>
<div class="container-fluid">
  <div class="row">
    <%= form_tag restaurant_offers_path(@restaurant), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "TEST 2"
    %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <% @offers.each do |offer| %>
      <div class="col-3 py-2">
      <%# <%= link_to "#{offer.id}", offer_path(offer), class: "offer-info"%>
    <% end %>

          <br>

<%= link_to "new offer", new_restaurant_offer_path(@restaurant), class: "btn btn-primary" %>
<h1>okokok</h1>
