<div class="form-container">
<h1 class="form-h1">Créer une offre</h1>

<%= simple_form_for [@restaurant, Offer.new ] do |i| %>
  <%= i.input :name, label:"Nom de la formule" %>
  <%= i.input :price, label:"Prix"  %>
  <%= i.input :description, label:"Description"  %>
  <%= i.input :validity, collection: (1..24).to_a, label:"période de validité (mois)" %>
  <%= i.submit "Créer", class:"btn-block", id:"offer-submit" %>
<% end %>
<p>

</p>
</div>
