<div class="form-container">
<h1 class="form-h1">Create your offer</h1>

<%= simple_form_for [@restaurant, Offer.new ] do |i| %>
  <%= i.input :price %>
  <%= i.input :description %>
  <%= i.input :restaurant_id %>
  <%= i.input :state %>
  <%= i.submit "Create", class:"btn-block", id:"offer-submit" %>
<% end %>
<p>

</p>
</div>
