<div class="container">
<h1 class="text-violet text-center mb-5">Créer une offre</h2>

<%= simple_form_for [@restaurant, Offer.new ], html: {class: "text-center"} do |i| %>
  <%= i.input :name, label:"Nom de l'offre", placeholder: "Menu Saint-Valentin", input_html: {class: "input-rounded-grey"} %>
  <%= i.input :price, label:"Prix", placeholder: "00,00€", input_html: {class: "input-rounded-grey"} %>
  <%= i.input :description, label:"Description", placeholder: "Décrivez l’offre ici", input_html: {class: "input-rounded-grey"} %>
  <%= i.input :validity, collection: [1,3,6,12,24], label:"Période de validité (mois)", input_html: {class: "input-rounded-grey"} %>
  <%= i.submit "CRÉER", class:"btn-validation", id:"offer-submit" %>
<% end %>
</div>
