<h1><i class="name"></i><%= "#{@offer.name}" %></h1>
<p><i class="description"></i><%= "#{@offer.description}" %></p>
<p><i class="price"></i><%= "#{@offer.price} €" %></p>
<p><i class="state"></i><%= "#{@offer.state}" %></p>
<a>
<%= link_to "Edit", edit_restaurant_offer_path(@restaurant) %>
<%= link_to "Retour", restaurant_offers_path(@restaurant), class:"btn btn-flat" %>
</a>
