
<h1><i class="name"></i><%= "#{@offer.name}" %></h1>
<p><i class="description"></i><%= "#{@offer.description}" %></p>
<p><i class="price"></i><%= "#{@offer.price} €" %></p>
<p><i class="state"></i><%= "#{@offer.state}" %></p>

<a>
  <%= link_to "Modifier", edit_restaurant_offer_path(@restaurant) %>
  <%= link_to "Supprimer", restaurant_offer_path(@restaurant), method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer la formule "' "#{@offer.name}" '" ?' } %>
  <%= link_to "Archiver", restaurant_offers_path(@restaurant), class:"btn btn-flat" %>
</a>
<% content_for :back_link do %>
  <a href="<%= restaurant_offers_path(@restaurant) %>">
    <div class="btn-footer">
      <%= image_tag 'return.png',class:"btn-footer__icon" %>
    </div>
  </a>
<% end %>
