<div class="container">
  <h1 class="text-jaune text-center mb-3">Statistiques</h1>
    <%= simple_form_for :search, url: statistiques_path, method: :get, html: {class: "text-center", data: {controller: "offer-choice"}} do |f| %>
      <%= f.input :offer, 
        collection: @offers, 
        label:"Formule:",
        selected: params.dig(:search, :offer),
        prompt: "Toutes les offres",
        input_html: { 
          data: { offer_choice_target: "select" },
        }  %>
      <%# <%= f.submit "go", class: "btn btn-sn btn-go"  %>
    <% end %>
</div>
  <h3 class="text-center mt-3 mb-3 size-title">Coupons en attente</h3>
    <div class="d-flex align-items-center justify-content-between">
      <% @pending_stats.each do |k, v| %>
        <div class="text-center">
          <div class="statistiques-title"><%= k %></div>
          <div class="statistiques-element"><%= v %></div>
        </div>
      <% end %>
    </div>
  <h3 class="text-center mt-3 mb-3 size-title-consummate">Coupons consommés</h3>
    <div class="d-flex align-items-center justify-content-between">
      <% @consummate_stats.each do |k, v| %>
        <div class="text-center">
          <div class="statistiques-title"><%= k %></div>
          <div class="statistiques-element"><%= v %></div>
        </div>
      <% end %>
    </div>
  <h3 class="text-center mt-3 mb-3 size-title-perime">Coupons perimés</h3>
    <div class="d-flex align-items-center justify-content-between">
      <% @expired_stats.each do |k, v| %>
        <div class="text-center">
          <div class="statistiques-title"><%= k %></div>
          <div class="statistiques-element"><%= v %></div>
        </div>
      <% end %>
    </div>
  <%# <h3 class="text-jaune text-center mb-3">Total</h3> %>
<%# <% end %>

<% content_for :back_link do %>
  <a href="<%= dashboard_path %>">
    <div class="btn-footer">
      <%= image_tag 'return.png',class:"btn-footer__icon" %>
    </div>
  </a>
<% end %>

