<h2 class="index">MES OFFRES</h2>
<div class="container-fluid">
  <div class="row">
    <%= form_tag restaurant_offers_path(@restaurant), method: :get do %>
      <%= link_to "offres archivées", class: "btn btn-primary" %>
      <%= link_to "créer une offre", new_restaurant_offer_path(@restaurant), class: "btn btn-primary" %>
    <% end %>
    </div>
    <% @offers.each do |offer| %>
      <div>
    <%= link_to "#{offer.name}", restaurant_offer_path(@restaurant, offer)%>
    <% end %>
  </div>

<% content_for :back_link do %>
  <a href=" <%= restaurant_offers_path(@restaurant, @offer)%> ">
    <div class="btn-footer">
      <%= image_tag 'return.png',class:"btn-footer__icon" %>
    </div>
  </a>
<% end %>
