<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h1 style="color:#F26464";>Nouveau coupon</h1>

        <%= simple_form_for [ Voucher.new ] do |i| %>
          <%#= i.input :qr_code %>
          <%= i.input :offer, collection: @offers, label:"FORMULE:"  %>
          <%= i.input :limit_use, label:"QUANTITE" %><%=  %>
          <%= i.input :customer_email, label:"E-mail client"%>
          <%= i.submit "VALIDER", class:"btn-block", id:"offer-submit" %>
        <% end %>
    </div>
  </div>
</div>