<% ending_date = @voucher.created_at + @voucher.offer.validity.months %>

   <% if ending_date < Date.today %>
    <% voucher_status = 'périmé' %>
   <% elsif @voucher.limit_use - @voucher.nb_redeems == 0 %>
    <% voucher_status = 'consommé' %>
   <% else %>
    <% voucher_status = 'VALIDE'%>
   <% end %>

<% if @voucher.limit_use - @voucher.nb_redeems.to_i > 0 %>
  <div class="container-voucher-info">
    <div class="redeem-circle mt-3"><%= "#{@voucher.limit_use - @voucher.nb_redeems}" %></div>
    <p class="text-center mb-4", style="font-size:24px"> Utilisations restantes</p>

    <div id="sweet-alert-demo" class="btn-redeem-yellow mb-3">Utiliser</div>
  <%= link_to 'Utiliser', voucher_redeems_path(@voucher), method: :post, id: "vouchersummit", class: "d-none" %>
    <div class="container-voucher-details">
      <p class="text-center mb-2"><%= "Statut : "%><span style="color: #7ADD8F"><%="#{voucher_status}"%></span></p>
      <p class="text-center mb-2"><%= "Fin validité : #{(@voucher.created_at + @voucher.offer.validity.months).to_s.split.first}" %></p>
      <p class="text-center mb-2"><%= "Offre : #{@voucher.offer.name}" %></p>
      <p class="text-center mb-2"><%= "Utilisations restantes : #{@voucher.limit_use - @voucher.nb_redeems} / #{@voucher.limit_use}" %></p>
    </div>
  </div>
<% else %>
  <div class="container-voucher-info">
    <div class="no-redeem-circle mt-3"><%= "#{@voucher.limit_use - @voucher.nb_redeems}" %></div>
    <h3 class="text-center mb-4", style="font-size:24px color:red"> Le coupon a été entièrement utilisé !</h3>

    <div class="container-voucher-no-details">
        <p class="text-center mb-2"><%= "Statut : "%><span style="color: #F26464"><%="#{voucher_status}"%></span></p>
        <p class="text-center mb-2"><%= "Fin validité : #{(@voucher.created_at + @voucher.offer.validity.months).to_s.split.first}" %></p>
        <p class="text-center mb-2"><%= "Offre : #{@voucher.offer.name}" %></p>
        <p class="text-center mb-2"><%= "Utilisations restantes : #{@voucher.limit_use - @voucher.nb_redeems} / #{@voucher.limit_use}" %></p>
      </div>
    </div>
  </div>
<% end %>

<%# <div class= "qrcode"> %>
  <%#= @voucher.qr_code.html_safe %>
 <%# </div> %>

